@mixin lg {
    @media screen and(max-width:900px) {
        @content;
    }
}

@mixin md {
    @media screen and(max-width:576px) {
        @content;
    }
}

@mixin sm
 {
    @media screen and(max-width:380px) {
        @content;
    }
}

