$white:#fff;
$red: #ea5a4b;
$black:#252525;
$blackLight: #5c5c5c;
$darkLight: #adadad;
$mainBg: rgba( 0, 0, 0, 0.75);
$iconsBg: #25282a;
$bigSize: 24px;
$titleSize: 18px;
$mainSize:14px;
$titleWeight: 500;
$addFont:'Roboto Condensed', sans-serif;
$addIcons:"Font Awesome 5 Brands";