*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Bitter', serif;
    color: #5c5c5c;
    font-size: 14px;
}

img {
    max-width: 100%;
    height: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

%links{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
        }
    }
}